@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Noto Sans JP', sans-serif;
}

body {
  margin: 0;
  background-color: white;
}
@media (max-width: 1000px) {
    *{
        font-size:xx-small;
    }

    ul {
        margin-left: 15px;
        padding:0;
    }
li{
    margin-left: 0;
    padding:0;
    padding-right:10px;
}
}